it('handles REQUEST_CONTACT_SUCCESS action',
  () => {
    expect(
      contact(
        initialState,
        {
          type: REQUEST_CONTACT_SUCCESS,
          contact: testContact,
        }
      )
    ).toMatchSnapshot();
  }
);